body {
    margin: 0;
}
header{
    
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
header ul{
    list-style: none;
}
header li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

header li a.active {
    background-color: #4CAF50;
    color: white;
}

header li a:hover:not(.active) {

    background-color: #555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
main{
    margin-left:25%;
    padding: 20px;
    background-color:rgb(224, 232, 235)
}
.main1{
    background-color: azure;
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.skills,.journey,.Mypages{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
div.skills{
    background-color: antiquewhite;
    
}
div.skills:hover{
    background-color: burlywood;
}
div.journey{
    background-color: aquamarine;
}
div.journey:hover{
    background-color: cyan;
}
p.now{
    color: blue;
}
div.Mypages{
    background-color: darkgray;
}
div.Mypages:hover{
    background-color: darkorange;
}
.title{
    font-size: large;
    font-style: oblique;
}
.title:hover{
    font-style: normal;
}
footer{
    margin: 10px;
}
.page_info{
    background-color: rgb(136, 136, 136);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.page_info:hover{
    background-color: rgb(110, 109, 109);
    cursor: pointer;
}
.page_info:active{
    background-color: rgb(134, 134, 134);
}