body {
    margin: 0;
    
}
header{
    
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
header ul{
    list-style: none;
}
header li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

header li a.active {
    background-color: #4CAF50;
    color: white;
}

header li a:hover:not(.active) {

    background-color: #555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}
main{
    margin-left:25%;
    padding: 20px;
    background-color:rgb(224, 232, 235)
}
.main1{
    background-color: azure;
    background-image: linear-gradient(to right, red , yellow);
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

.stage{
    font-size: 2rem;
}
.skills,.journey,.Mypages{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}
div.skills{
    background-color: antiquewhite;
    display:flex;
    
}
div.skills:hover{
    background-color: burlywood;
}

.skilla{
    width: 50%;
    
}

div.journey{
    background-color: aquamarine;
}
div.journey:hover{
    background-color: cyan;
}
p.now{
    color: blue;
}

.title{
    font-size: large;
    font-style: oblique;
}
.title:hover{
    font-style: normal;
}
footer{
    margin: 10px;
}
.page_info{
    width:250px;
    height: 150px;
    border: skyblue;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.11), 5px;
    text-align: center;

}
.page_info:hover{
    background-color: rgba(58, 107, 180, 0.897);
    cursor: pointer;
    transition: background-color 0.5s;
    color: snow;
}
.page_info:active{
    background-color: rgb(134, 134, 134);
}
.page-title{
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-size: 20px;
    height: 70px;
    line-height:70px;
}
.page-discr{
    padding: 10px;
}
.Mypages{
    display: flex;
    flex-wrap: wrap
}